[mysqld]
datadir=<%= _datadir %>
socket=<%= _socket %>
user=<%= _user %>
default_character_set=<%= _default_character_set %>
<% if _skip_bdb %>skip_bdb<%end%>
<% if _log_slow_queries%>log_slow_queries<%end%>
default_storage_engine=<%= _default_storage_engine %>
<% if _innodb_file_per_table %>innodb_file_per_table<%end%>

[mysqld_safe]
log_error=<%= _log_error %>
pid_file=<%= _pid_file %>

!includedir /etc/my.d/
